[Desktop Entry]
Type=Application
Terminal=false
Name=Gocryptfs-UI
Exec=/usr/bin/gocryptfs-ui -i60 .Private Private
Icon=gocryptfs-ui
Categories=Security;Settings;
StartupWMClass=Gocryptfs-UI
